html, body {
	height: 100%;
	background-color: #aaaaaa;
	margin: 0;
	padding: 0;
}
.axis path, .axis line {
		fill: none;
		stroke: black;
		stroke-width: 1;
		shape-rendering: cripsEdges;
}

.axis text {
	font-size: 100%;
	text-rendering: optimizeSpeed;
}



.tickerLabel {
	font-size: 20px;
	fill: black;
	text-rendering: optimizeSpeed;
}

.plotDataText {
	font-size: 15px;
	fill: black;
	text-rendering: optimizeSpeed;
}

.plotDataName {
	font-size: 12px;
	fill: black;
	text-rendering: optimizeSpeed;
}

.companyPlot {
	stroke: white;
	stroke-width: 3;
}


#sectorBox {
	display: inline-block;
	position: absolute;
	/*width: 300px;
	height: 100%;*/
	margin-left: auto;
	margin-right: auto;
	bottom: 0;
}

.sectorText {
	font-size: 16px;
	text-rendering: optimizeSpeed;
	cursor: pointer;
}


.chartContainer {
	display: inline-block;
	position: absolute;
	left: 0px;
	top: 0px;

}

