html, body {
	height: 99%;
	background-color: #aaaaaa;
	margin: 0;
	padding: 0;
	overflow-y:hidden;
}


.axis path, .axis line {
		fill: none;
		stroke: black;
		stroke-width: 1;
		shape-rendering: cripsEdges;
}

.axis text {
	font-size: 100%;
	text-rendering: optimizeSpeed;
}

#xAxisTitle, #yAxisTitle {
	font-size: 16px;
}


/*
CSS for scatter plots

*/
.tickerLabel {
	font-size: 20px;
	fill: white;
	text-rendering: optimizeSpeed;
}

.plotDataText {
	font-size: 15px;
	fill: white;
	text-rendering: optimizeSpeed;
}

.plotDataName {
	font-size: 12px;
	fill: white;
	text-rendering: optimizeSpeed;
}

.companyPlot {
	stroke: black;
	stroke-width: 3;
}




/*
Legend CSS
*/
#sectorBox {
	display: inline-block;
	margin-left: auto;
	margin-right: auto;
	position: absolute;
	bottom: 1%;
	width: 75%;
	height: 65px;
	left: 12%;
}

.legendText {
	font-size: 16px;
	text-rendering: optimizeSpeed;
	cursor: pointer;
}


#chartTitle {
	font-size: 180%;
	text-decoration: underline;
	fill: white;
}

#colorAssist {
	margin: 0;
	position: absolute;
	display: inline-block;
	height: 20px;
	right: 0;
	bottom: 4%;
	width: 10%;
	text-algin: center;
}

#colorAssist p {
	margin: 0;
	display: inline-block;
}

.chartContainer {
	display: inline-block;
}

#colorAssistText {
	font-size: 16px;
}
